@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 5px;
  border-bottom: 1px solid black;
}
.links a {
  padding: 0 10px;
  text-decoration: none;
}
/* Content */
.content {
  display: flex;
  padding: 10px;
  margin: 10px;
}
/* grid-container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
/* item-card */
.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 200px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  gap: 5px;
}
.item-card h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.item-card img {
  object-fit: contain;
  height: 100px;
  width: 100px;
}
.item-card button {
  padding: 10px;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 960px)  {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}